body {
    font-family: 'Roboto';
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}
/* .header {
    display: flex 1;
}
.logo {
    display: flex;
    align-items: center;
} */
#header {
    border-bottom: 1px solid #323232;
}
.logo, .main-menu, li, img {
    display: inline-block
}
#main-logo {
    width: 52px;
    height: 42px;
}
.logo a {
    text-decoration: none;
    color: #323232;
    font-size: 1.2rem;
    font-weight: 600;
}
.main-menu{
    font-size: 1.2rem;
    font-weight: 500;
    float: right;
    margin-right: 200px;
}
.main-menu li{
    list-style: none;
    text-decoration: none;
    /* margin: 0 60px; */
    width: 120px;
    text-align: center;
}
.main-menu a{
    text-decoration: none;
    color: #323232;
}
.main-menu li:hover{
    background-color: #ada2c7;
}

.botao {
    background: #f8f8f8;
    width: 140px;
    height: 50px;
    color: #323232;
    border-radius: 35px;
    text-align: center;
    font-weight: 600;
}
.botao:hover {
    background: #ada2c7;
}
#banner {
    text-align: center;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    min-height: 400px;
    background-size: cover;
    padding-top: 200px;
    color: white;
}

.titulos-grandes {
    font-size: 1.9rem;
    margin-top: 1px;
}

/* GRID DE IMAGENS */

.imagens-container {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagem-item {
    min-height: 250px;
    min-width: 375px;
    margin: 15px;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
}

/* BACKGROUND IMAGES */

#img-01 {
    background: url('../img/product-1.jpg');
    background-size: cover;
}

#img-02 {
    background: url('../img/product-2.jpg');
    background-size: cover;
}

#img-03 {
    background: url('../img/product-3.jpg');
    background-size: cover;
}

#img-04 {
    background: url('../img/product-4.jpg');
    background-size: cover;
}

#img-05 {
    background: url('../img/product-5.jpg');
    background-size: cover;
}

#img-06 {
    background: url('../img/product-6.jpg');
    background-size: cover;
}

/* BOTAO DO PRODUTO */

.botao-produto {
    /* display: flex; */
    /* align-items: flex-end; */
    /* justify-content: center;   */
    height: 40px;
    margin-bottom: 15px;
    background: #f8f8f8;
    border-color: #f8f8f8;
    font-weight: 600;
}

/* FORMULÁRIO */

.formulario {
    display: flex;
    justify-content: center;
    background: #f6f6f6;
    /* max-width: 500px; */
    align-self: center;

}
.formulario-input {
    margin: 11px;
}
.botao-enviar {
    display: flex;
    justify-content: center;
    /* margin: 15px 50px; */
}
.btn-enviar {
    background: #323232;
    border-color: #323232;
    color: #fff;
    font-weight: 600;
    width: 7vw;
    height: 5vh ;
}

.pai {
    margin: 20px;
    border: 2px solid #323232;
    background-color: #87B379;
}
.pai div {
    height: 100px;
    width: 100px;
    background-color: #E0E0FF;
    border: 2px solid #FFC9AD;
}
.relative {
    position: relative;
}
.relative div:last-child {
    position: relative;
    left: 20px;
    top: 10px;
}
.absolute :nth-child(2) {
    background: #B39382;
}
.fixed div:first-child {
    background: #8158FF;
    position: fixed;
    top: 0;
    left: 50vh;
    width: 50%;
    margin-top: 10vh;
}